<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="sr-only">Error:</span>
  {{ error }}
</div>

<div class="modal-dialog">
  <div class="container">
    <h2 class="form-signin-heading">Đăng nhập tài khoản</h2><br>

    <form class="form-signin" (submit)="loginWithEmail($event, email.value, password.value)">
      <label for="email" class="sr-only">Email</label>
      <input #email type="email" id="email" class="form-control" placeholder="Địa chỉ email">
      <label for="password" class="sr-only">Mật khẩu</label>
      <input #password type="password" id="password" class="form-control" placeholder="Mật khẩu"
        required="">
      <br>
      <button class="btn btn-outline-primary btn-block" type="submit">Đăng nhập</button>
    </form>
    <br>
    <button class="btn btn-primary btn-block" (click)="loginWithFacebook()">Đăng nhập bằng Facebook</button>
    <hr>

    <!--<a [routerLink]="['/register']" style="cursor: pointer;">Đăng ký ></a>-->
    <button class="btn btn-outline-primary btn-block" [routerLink]="['/register']" style="cursor: pointer;">Đăng ký</button>
  </div>
</div>