<div class="container">
  <div #scrollMe class="bs-example" id="messages" >

    <div *ngFor="let message of messages | async">
      <div class="bubble" [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
        <p *ngIf="message.message">{{ message.message }}</p>
        <p *ngIf="message.imageUrl"><img [src]="message.imageUrl" class="img-fluid" (load)="scrollToBottom()"></p>
        <p *ngIf="message.fileUrl"><i class="fa fa-download" aria-hidden="true"></i>
          <a [href]="message.fileUrl">{{ message.fileName }}</a>
        </p>
        <div class="author">
          {{ message.displayName }}  {{ message.timestamp | date:"dd/MM/yy hh:mm a" }}
        </div>
      </div>
    </div>
    
  </div>
  <div class="row justify-content-center main-bottom">
    <div class="col-md-10">
      <span class="text-muted">
        <div class="input-group">
          
          <input type="textarea" class="form-control" placeholder="Type your message..."
            [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">

          <input id="fileCapture"
              [(ngModel)]="newImage" #fileCapture (change)="onSelectFile($event)" type="file" style="display: none;">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="fileCapture.click()" id="submitFile">
              <i class="fa fa-paperclip" aria-hidden="true" title="Send photo or file"></i>
            </button>
          </span>

          <span class="input-group-btn">
            <button class="btn btn-secondary" (click)="sendMessage()" type="button" [disabled]="!newMessage">
              <i class="fa fa-paper-plane" aria-hidden="true" title="Send"></i>
            </button>
          </span>
        </div>
      </span>
    </div>
  </div>
</div>
