.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.bs-example {
  flex: 1;
  padding: 15px 15px 15px;
  border-style: none;
  background-color: white;
  overflow-y: auto;
}
#messages {
  background-color: white !important;
}

.author {
  font-size: 12px;
  opacity: 0.7;
  font-style: italic;
}
p {
  font-size: 16px;
}
.bubble{
  border-radius: 14px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
}
.bubble::before {
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
  -moz-transform:    rotate( 29deg ) skew( -35deg );
  -ms-transform:     rotate( 29deg ) skew( -35deg );
  -o-transform:      rotate( 29deg ) skew( -35deg );
  -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}
.you {
  background-color: #f5f5f5;
  display: inherit;
  margin: 10px 15vw 5px 4vw;
}
.you::before {
  background-color: #f5f5f5;
  left: -9px;
}
.me {
  background-color: #b0e8b0;
  display: inherit;
  margin: 10px 4vw 5px 15vw;
}
.me::before {
  background-color: #b0e8b0;
  right: -9px;
}
.bs-example+.highlight, .bs-example+.zero-clipboard+.highlight {
  margin: 0px -15px 15px;
  border-width: 0 0 1px;
  border-radius: 0;
}

.main-bottom {
  margin: 0.7rem 0 1.5rem 0;
}