<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbarButton">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-brand">INSTANT</a>
  <div *ngIf="isLoggedIn" class="collapse navbar-collapse"
      id="navbarButton" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto"></div>
    <button class="btn btn-outline-danger my-2 my-md-0"
        (click)="logout() && isCollapsed = !isCollapsed">Đăng xuất</button>
  </div>
</nav>
<div class="app-content">
  <router-outlet></router-outlet>
</div>