input#message {
    background:none;
    border:none;
    border-bottom: 1px solid #d1d1d1;
    outline:none;
    box-shadow:none;
    color: black;
    font-size:1.6em;
    font-weight:300;
    margin-bottom: 3em;
    padding:1.2em 0;
}

.chat-container {
    display:block;
    width:100%;
}
.chat-container:nth-child(4) {
    opacity: .8;
}
.chat-container:nth-child(3) {
    opacity: .6;
}
.chat-container:nth-child(2) {
    opacity: .4;
}

.chat-container a {
    text-transform: uppercase;
    font-weight:bold;
    color:#559e4a;
    font-size:.8em;
    letter-spacing:2px;
}

.chat-container p {
    background:#d1d1d1;
    padding:0.7em;
    color:black;
    margin: 5px 0 10px 0;
    border-radius: 5px;
}