<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      
      <div #scrollMe class="bs-example" id="messages">
        <div *ngFor="let message of messages | async">
          <div class="bubble"
            [class.you]="isYou(message.email)" [class.me]="isMe(message.email)">
            <p>{{ message.message }}</p>
            <div class="author">
              {{ message.displayName }} | {{ message.timestamp | date:"MM/dd/yy hh:mm a" }}
            </div>
          </div>
        </div>
      </div>

      <figure class="highlight">
        <div class="input-group">
          <input type="textarea" class="form-control" placeholder="Nhập nội dung chat..."
            [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
          <span class="input-group-btn">
            <button class="btn btn-secondary" (click)="sendMessage()" type="button">Gửi</button>
          </span>
        </div>
      </figure>

    </div>
  </div>
</div>