<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-secondary">
  <a class="navbar-brand" href="/">INSTANT</a>
  <button class="navbar-toggler d-lg-none"
    type="button" data-toggle="offcanvas" title="Toggle responsive left sidebar"
    (click)="toggleSidebar = !toggleSidebar">
    <span class="navbar-toggler-icon"></span>
  </button> 
</nav>
<div class="container-fluid body">
  <div class="row row-offcanvas row-offcanvas-left" [class.active]="toggleSidebar">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" id="sidebar" role="navigation">
        <div class="wrapper">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"
              *ngFor="let channel of channels | async">
              <a class="nav-link" aria-expanded="true"
                (click)="selectChannel(channel)"
                [class.active]="channel.$key == channelId">
                {{ channel.name }}
              </a>
            </li>
          </ul>
        </div>

        <div class="sidebar-bottom">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" aria-expanded="true" [class.active]="newChannel"
                (click)="selectNewChannel()">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Create channel
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-expanded="true"
                *ngIf="isLoggedIn" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Sign out
              </a>
            </li>
          </ul>
      </div>
    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-2" role="main">
      <h1 class="display-2 hidden-xs-down">
      <!-- Room title -->
      </h1>
      <app-new-channel *ngIf="newChannel" [newChannel]="newChannel"></app-new-channel>
      <app-chat *ngIf="channelId" [channelId]="channelId"></app-chat>
    </main>
  </div>
</div>
