<div class="container">
  <div *ngIf="error" class="alert alert-warning" role="alert">
    <span class="sr-only">Error:</span> {{ error }}
  </div>
  
  <div class="row justify-content-center">
    <div class="col-sm-4">
      <div class="card border-light mb-3">
        <div class="card-body">
          <h4 class="card-title text-center">Sign up</h4><br>

          <form class="form-signin" role="form" (submit)="register($event, name.value, email.value, password.value)">
            <div class="form-group row">
              <label for="name" class="sr-only">Your name</label>
              <div class="col-sm-12">
                <input #name type="text" id="name" class="form-control" placeholder="Your name" required="">
              </div>
            </div>

            <div class="form-group row">
              <label for="email" class="sr-only">Email</label>
              <div class="col-sm-12">
                <input #email type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword" class="sr-only">Password</label>
              <div class="col-sm-12">
                <input #password type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <button class="btn btn-outline-primary btn-block" type="submit">Sign up</button>
              </div>
            </div>
          </form>
          <hr>
          <button class="btn btn-link btn-block" [routerLink]="['/login']" style="cursor: pointer;">
            < Back to Sign in
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
